.main * {
  font-size: 25px;
}

.main h3 {
  cursor: default;
  font-weight: 400;
}

.sortList {
  margin-top: 0.3em ;
  padding-left: 1em;
  list-style: none;
}

.sortList span {
  cursor: pointer;
  font-weight: 300;
}

.sortList span:hover {
  color: #00a2ff;
}

.selected {
  list-style: disc;
}