.text-form {
    margin: 1rem auto;
    width: 80%;
  }
  
  .text-form input {
    padding: 0 1rem;
    font-size: 1rem;
    width: 100%;
    height: 2rem;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.03);
  }

  .text-form input:focus {
    outline-color: #b3b3b3;
  }
  
  .text-form label {
    margin: 5px 0;
    text-align: start;
    display: block;
  }